name: Laravel Automated Test
on:
    push:
        branches:
            - master
            - main
    pull_request:
        branches:
            - master
            - main
jobs:
    laravel-test-withdb:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: mysql:5.7
                env:
                    MYSQL_ROOT_PASSWORD: ${{ secrets.DB_PASSWORD }}
                    MYSQL_DATABASE: db_test
                ports:
                    - 3306:3306
                options: >-
                    --health-cmd="mysqladmin ping"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=3
        steps:
            - uses: actions/checkout@v2
            - name: Laravel Setup
              env:
                DB_CONNECTION: mysql
                DB_DATABASE: db_test
                DB_PORT: 3306
                DB_USER: root
                DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
              run: |
                cp .env.example .env
                composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
                php artisan key:generate
                chmod -R 777 storage bootstrap/cache
                php artisan migrate:fresh --seed
            - name: Execute tests (Unit and Feature tests) via PHPUnit
              env:
                DB_CONNECTION: mysql
                DB_DATABASE: db_test
                DB_PORT: 3306
                DB_USER: root
                DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
              run: vendor/bin/phpunit
